
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <LinkTo @route="home">HOME</LinkTo>
  <LinkTo @route="contacts">CONTACTS</LinkTo>
  <LinkTo @route="about">ABOUT</LinkTo>
  </div>
</nav>
{{outlet}}